<div class="collections-page">
  <ng-container>
    <div class="flex-box">
      <div class="col flex-item">
        <h4 class="collections-title">Coleções</h4>
      </div>
      <div class="col flex-item">
        <div class="collection-button">
          <app-button
            [title]="'Criar Coleção'"
            routerLink="/create-collection"
          ></app-button>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="table-container">
    <table class="collection-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Tamanho</th>
          <th>Cor</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
