.collections-page {
  background-color: #f9f9f9;
  min-height: 100vh;
}

.flex-box {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.collections-title {
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #2c2c2c;
}

.collection-content {
  padding-left: 15px;
  padding-right: 15px;
}

.table-responsive {
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 4rem;
  font-family: "Inter", sans-serif;
}

.table th {
  border-top: none !important;
  font-family: "Inter", sans-serif;
  color: #2c2c2c;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

tbody td {
  color: #9395a3;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  vertical-align: middle;
}

tbody td:hover {
  cursor: pointer;
}
