<div class="collections-page">
  <div class="flex-box">
    <div class="flex-item">
      <h4 class="collections-title">Coleções</h4>
    </div>
    <div class="flex-item">
      <app-blue-general-button
        [title]="'Criar Coleção'"
        routerLink="/create-collection"
        id="collection-button"
      ></app-blue-general-button>
    </div>
  </div>
  <div class="collection-content">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Coleção</th>
            <th scope="col">Responsável</th>
            <th scope="col">Estação - Lançamento</th>
            <th scope="col">Modelos</th>
            <th scope="col">Orçamento</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let collection of collection"
            [routerLink]="['/edit-collection', collection.id]"
          >
            <td>{{ collection.colecao }}</td>
            <td>{{ collection.responsavel }}</td>
            <td>{{ collection.estacao }} - {{ collection.anoLancamento }}</td>
            <td>{{ collection.modelos }}</td>
            <td>R$ {{ collection.orcamento }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
