.register-new-user-page {
  min-height: 100vh;
  background-color: #f2f5ff;
  font-family: "Inter", sans-serif;
}

.form-wrapper {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}

.flex-box {
  display: flex;
  flex-direction: row;
}

.flex-box-password {
  display: flex;
  flex: row;
  justify-content: space-between;
  gap: 10px;
}

.flex-item-password {
  flex: 1;
}

.title-register-new-user {
  padding-left: 90px;
}

.register-new-user-text-content h6 {
  color: #b4b6c1;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 20px;
  text-align: center;
}

.login-link h6 {
  padding-top: 10px;
  color: #989898;
  font-size: 14px;
  text-align: center;
}

.login-link h6 a {
  text-decoration: none;
  font-weight: bold;
}

.register-new-user-text-content input {
  margin-top: 15px;
  border-color: #f2f5ff;
}

.register-new-user-text-content input::placeholder {
  color: #b4b6c1;
  font-size: 13px;
  font-family: "Inter", sans-serif;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.button {
  padding-top: 30px;
  width: 100%;
}
