<div class="register-new-user-page">
  <div class="container-fluid">
    <div class="logo-audaces">
      <app-logo-audaces></app-logo-audaces>
    </div>

    <div class="row justify-content-center py-4">
      <div class="col-lg-4 col-md-6 col-sm-8 form-wrapper">
        <div class="form-group">
          <div class="flex-box">
            <div class="arrow-left">
              <app-arrow-left [routerLink]="'/login'"></app-arrow-left>
            </div>
            <div class="title-register-new-user">
              <app-title [title]="'Sign Up'"></app-title>
            </div>
          </div>

          <form [formGroup]="registerForm" (ngSubmit)="registerNewUser()">
            <div class="register-new-user-text-content">
              <h6>Insira seus dados para criar uma conta</h6>
              <input
                class="form-control"
                aria-label="Informe seu nome"
                type="name"
                placeholder="Nome"
                formControlName="name"
              />
              <div class="error-msg">{{ nameError }}</div>
              <input
                class="form-control"
                aria-label="Informe sua empresa"
                type="name"
                placeholder="Empresa"
                formControlName="company"
              />
              <div class="error-msg">{{ companyError }}</div>
              <input
                class="form-control"
                aria-label="Informe seu CNPJ"
                type="cnpj"
                placeholder="CNPJ"
                formControlName="cnpj"
              />
              <div class="error-msg">{{ cnpjError }}</div>
              <input
                class="form-control"
                aria-label="Informe seu e-mail"
                type="email"
                placeholder="Informe seu e-mail"
                formControlName="email"
              />
              <div class="error-msg">{{ emailError }}</div>
              <div class="flex-box-password">
                <div class="flex-item-password">
                  <input
                    class="form-control"
                    aria-label="Digite uma senha"
                    type="password"
                    placeholder="Senha"
                    formControlName="password"
                  />
                  <div class="error-msg">{{ passwordError }}</div>
                </div>
                <div class="flex-item-password">
                  <input
                    class="form-control"
                    aria-label="Confirme sua senha"
                    type="password"
                    placeholder="Confirmar senha"
                    formControlName="confirmPassword"
                  />
                  <div class="error-msg">{{ confirmPasswordError }}</div>
                </div>
              </div>

              <app-blue-general-button
                class="button"
                [title]="'Criar Conta'"
                type="submit"
                (click)="registerNewUser()"
              ></app-blue-general-button>
            </div>
          </form>
        </div>
      </div>

      <div class="row justify-content-center py-2">
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="login-link">
            <h6>
              Já possui uma conta?
              <a routerLink="/login" class="text-muted"
                ><span style="color: #277ffe">Realizar login</span></a
              >
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
