<div class="header-container">
  <div class="container-fluid">
    <div class="header">
      <div class="flex-box">
        <button (click)="notificacao()" class="notification-icon">
          <img src="./assets/notification-icon.png" class="icon" />
        </button>
        <button mat-button [matMenuTriggerFor]="menu" class="dropdown">
          <img class="profile-picture" src="./assets/profile_photo.png" />
        </button>
        <div class="dropdown-bg">
          <mat-menu #menu="matMenu" class="mat-menu-panel">
            <button mat-menu-item class="mat-menu-item">Conta</button>
            <button mat-menu-item class="mat-menu-item">Configurações</button>
            <button
              mat-menu-item
              class="mat-menu-item"
              (click)="logoutButton()"
            >
              Sair
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
