<header class="header-container">
  <div class="header-bg"></div>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item notification-item">
            <a class="nav-link" id="notification-icon" href="#"
              ><i class="bi bi-bell-fill"></i
            ></a>
          </li>
          <li class="nav-item dropdown user-dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="userDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <div class="user-image">
                <img src="./assets/foto-perfil.png" alt="User" />
              </div>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="userDropdown"
            >
              <li><a class="dropdown-item" href="#">Opção 1</a></li>
              <li><a class="dropdown-item" href="#">Opção 2</a></li>
              <li><a class="dropdown-item" href="#">Opção 3</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
