<div class="main-content-home">
  <div class="main-content">
    <h4 class="dashboard-title">Dashboard</h4>
    <div class="flex-box">
      <div class="flex-item">
        <app-cards-dashbord
          [title]="'Coleções'"
          [number]="totalCollections"
        ></app-cards-dashbord>
      </div>
      <div class="flex-item">
        <app-cards-dashbord
          [title]="'Modelos'"
          [number]="totalClothingModels"
        ></app-cards-dashbord>
      </div>
      <div class="flex-item">
        <app-cards-dashbord-percentage></app-cards-dashbord-percentage>
      </div>
    </div>
    <div class="content-dashbord">
      <app-content-dashbord></app-content-dashbord>
    </div>
  </div>
</div>
