<div class="create-clothing-model-page">
  <div class="create-clothing-model-title">
    <h4>Criar Modelo</h4>
  </div>
  <div class="create-clothing-model-content">
    <div class="flex-box">
      <div class="flex-item">
        <app-input-label [placeholder]="'Nome do Modelo'"></app-input-label>
      </div>
      <div class="flex-item">
        <app-input-label [placeholder]="'Tipo do Modelo'"></app-input-label>
      </div>
    </div>
    <div class="flex-box">
      <div class="flex-item">
        <app-input-label [placeholder]="'Selecionar coleção'"></app-input-label>
      </div>
      <div class="flex-item">
        <app-input-label
          [placeholder]="'Responsável pelo modelo'"
        ></app-input-label>
      </div>
    </div>
    <div class="flex-box">
      <div class="flex-item"></div>
      <div class="flex-item"></div>
    </div>
    <div class="container mt-5">
      <form>
        <div class="mb-3">
          <label for="question" class="form-label">Possui bordado?</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="answer"
            id="answer1"
            value="sim"
          />
          <label class="form-check-label" for="answer1"> Sim </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="answer"
            id="answer2"
            value="não"
          />
          <label class="form-check-label" for="answer2"> Não </label>
        </div>
      </form>
      <form>
        <div class="mb-3">
          <label for="question" class="form-label">Possui estampa?</label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="answer"
            id="answer1"
            value="sim"
          />
          <label class="form-check-label" for="answer1"> Sim </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="answer"
            id="answer2"
            value="não"
          />
          <label class="form-check-label" for="answer2"> Não </label>
        </div>
      </form>
    </div>
    <div class="buttons-create-clothing-model">
      <app-button [title]="'Cancelar'"></app-button>
      <app-button [title]="'Salvar'"></app-button>
    </div>
  </div>
</div>
