<div class="side-bar-page">
  <div class="side-menu-container">
    <div class="logo text-center">
      <img
        src="./assets/logo-audaces-menu.png"
        alt="Logo Audaces"
        class="img-fluid"
        id="logo-audaces-menu"
      />
    </div>
    <h4 class="text-left mb-4">MENU</h4>
    <div class="menu">
      <div class="dashboard-button">
        <app-button
          routerLink="/home"
          class="dashboard-button"
          [title]="'Dashbord'"
        ></app-button>
      </div>
      <div class="links-menu">
        <a routerLink="/collections">Coleções</a>
        <a routerLink="/clothing-model">Modelos</a>
        <a routerLink="/obter-ajuda">Obter Ajuda</a>
        <a routerLink="/comentarios">Comentários</a>
      </div>
    </div>
  </div>
</div>
