.card-dashboard-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 4rem;
  font-family: "Inter", sans-serif;
}

.card-title h4,
.flex-item p {
  margin: 0;
}

.card-title h4 {
  font-size: 80%;
  color: #595959;
  font-weight: bold;
  padding-bottom: 15%;
}

.flex-item p {
  font-size: 1.5rem;
  font-weight: bold;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-box-percentage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.positive p {
  color: green;
  font-size: 12px;
  font-weight: bold;
  justify-self: right;
}

.negative p {
  color: red;
  font-size: 12px;
  font-weight: bold;
  justify-self: right;
}

.second-col-row-description {
  color: #b4b6c1;
  font-size: 11px;
}
