.forgot-password-page {
  min-height: 100vh;
  background-color: #f2f5ff;
  font-family: "Inter", sans-serif;
}

.form-wrapper {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
}

.flex-box {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}

.title-forgot-password {
  padding-left: 60px;
}

.redefine-text-content h6 {
  color: #b4b6c1;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 20px;
  text-align: center;
}

.redefine-text-content input {
  margin-top: 15px;
  border-color: #f2f5ff;
}

.redefine-text-content input::placeholder {
  color: #b4b6c1;
  font-size: 13px;
}

.button {
  padding-top: 40px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
