<div class="forgot-password-page">
  <div class="container-fluid">
    <div class="logo-audaces">
      <app-logo-audaces></app-logo-audaces>
    </div>

    <div class="row justify-content-center py-4">
      <div class="col-lg-4 col-md-6 col-sm-8 form-wrapper">
        <div class="form-group">
          <div class="flex-box">
            <div class="arrow-left">
              <app-arrow-left [routerLink]="'/login'"></app-arrow-left>
            </div>
            <div class="title-forgot-password">
              <app-title [title]="'Redefinir Senha'"></app-title>
            </div>
          </div>

          <form [formGroup]="forgotForm" (submit)="sendRecovery()">
            <div class="redefine-text-content" *ngIf="!emailSent">
              <h6>
                Digite o e-mail associado à sua conta e enviaremos instruções
                para redefinir a sua senha.
              </h6>
              <input
                class="form-control"
                aria-label="Informe seu e-mail"
                type="email"
                placeholder="Informe seu e-mail"
                formControlName="email"
              />
              <div class="error-message" *ngIf="emailNotFound">
                <p>❌ Este e-mail não possui cadastro.</p>
              </div>
              <div class="button">
                <app-blue-general-button
                  [title]="'Enviar recuperação'"
                  (click)="sendRecovery()"
                ></app-blue-general-button>
              </div>
            </div>

            <div class="redefine-text-content" *ngIf="emailSent">
              <h6>
                Um link para redefinição de senha foi enviado para o e-mail
                {{ email }}.
              </h6>
              <div class="button">
                <app-blue-general-button
                  [title]="'Ir para login'"
                  (click)="goToLogin()"
                ></app-blue-general-button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
