<div class="forgot-password-page">
  <div class="container-fluid">
    <app-logo-audaces></app-logo-audaces>
  </div>

  <div class="row justify-content-center py-4">
    <form [formGroup]="redefineForm" id="container-password">
      <div class="col-lg-4 col-md-6 col-sm-8 container-fluid">
        <div class="flex-box">
          <div>
            <app-arrow-left [routerLink]="'/login'"></app-arrow-left>
          </div>
          <div class="flex-item">
            <app-title [title]="'Redefinir Senha'"></app-title>
          </div>
        </div>
        <ng-container *ngIf="!emailSent">
          <h6 id="redefine-text-content">
            Digite o e-mail associado à sua conta e enviaremos instruções para
            redefinir sua senha.
          </h6>
        </ng-container>
        <ng-container *ngIf="emailSent">
          <h6 id="redefine-text-content">
            Um link para redefinição de senha foi enviado para o e-mail
            {{ email }}
          </h6>
        </ng-container>
        <ng-container *ngIf="!emailSent">
          <app-input-label
            [type]="'email'"
            [id]="'inputEmail'"
          ></app-input-label>
        </ng-container>
        <ng-container *ngIf="emailNotFound">
          <div class="error-message">Este e-mail não possui cadastro.</div>
        </ng-container>
        <ng-container *ngIf="!emailSent">
          <app-button
            [title]="'Enviar link'"
            (click)="sendRecovery()"
          ></app-button>
        </ng-container>
        <ng-container *ngIf="emailSent">
          <app-button
            [title]="'Ir para login'"
            (click)="goToLogin()"
          ></app-button>
        </ng-container>
      </div>
    </form>
  </div>
</div>
