.dashboard-content {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 4rem;
  font-family: "Inter", sans-serif;
}

.table-responsive h4 {
  padding-top: 5px;
  padding-left: 2px;
  padding-bottom: 2%;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 100%;
  color: #595959;
}

.table th {
  border-top: none !important;
  font-family: "Inter", sans-serif;
  color: #2c2c2c;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

tbody td {
  color: #9395a3;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  vertical-align: middle;
}
