<div class="dashboard-content">
  <div class="table-responsive">
    <h4>Maiores Orçamentos</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Coleção</th>
          <th scope="col">Responsável</th>
          <th scope="col">Modelos</th>
          <th scope="col">Orçamento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
