<div class="dashboard-content">
  <div class="table-responsive">
    <h4>Maiores Orçamentos</h4>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Coleção</th>
          <th scope="col">Responsável</th>
          <th scope="col">Modelos</th>
          <th scope="col">Orçamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orcamento of orcamentos">
          <td>{{ orcamento.colecao }}</td>
          <td>{{ orcamento.responsavel }}</td>
          <td>{{ orcamento.modelos }}</td>
          <td>R$ {{ orcamento.orcamento }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
