<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto side-bar">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col content">
      <app-header></app-header>
      <div
        *ngIf="path === 'home'"
        class="main-content-wrapper"
        else
        #otherRoutes
      >
        <app-home></app-home>
      </div>
      <div #otherRoutes>
        <div *ngIf="path === 'collections'" class="main-content-wrapper">
          <app-collections></app-collections>
        </div>
        <div *ngIf="path === 'clothing-model'" class="main-content-wrapper">
          <app-clothing-model></app-clothing-model>
        </div>
        <div *ngIf="path === 'create-collection'" class="main-content-wrapper">
          <app-create-collection></app-create-collection>
        </div>
        <div
          *ngIf="path === 'create-clothing-model'"
          class="main-content-wrapper"
        >
          <app-create-clothing-model></app-create-clothing-model>
        </div>
        <div
          *ngIf="path === 'edit-clothing-model'"
          class="main-content-wrapper"
        >
          <app-edit-clothing-model></app-edit-clothing-model>
        </div>
        <div *ngIf="path === 'edit-collection'" class="main-content-wrapper">
          <app-edit-collection></app-edit-collection>
        </div>
      </div>
    </div>
  </div>
</div>
