<div class="clothing-model-page">
  <ng-container>
    <div class="flex-box">
      <div class="col flex-item">
        <h4 class="clothing-model-title">Modelos</h4>
      </div>
      <div class="col flex-item">
        <div class="clothing-model-button">
          <app-button
            [title]="'Criar Modelo'"
            routerLink="/create-clothing-model"
          ></app-button>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="table-container">
    <table class="clothing-model-table">
      <thead>
        <tr>
          <th>ModeloID</th>
          <th>Nome do Modelo</th>
          <th>Responsável</th>
          <th>Coleção</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
